.loader {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 20px;
}

.loader:after {
	content: " ";
	display: block;
	width: 24px;
	height: 24px;
	margin: 8px;
	border-radius: 50%;
	border: 4px solid #d4d4d8;
	border-color: #d4d4d8 transparent #d4d4d8 transparent;
	animation: loader 1.2s linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
